# ==========================================
# Git
# ==========================================
.git
.gitignore

# ==========================================
# Python
# ==========================================
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/

# ==========================================
# Virtual Environments
# ==========================================
.venv/
venv/
env/

# ==========================================
# IDE
# ==========================================
.vscode/
.idea/

# ==========================================
# Jupyter
# ==========================================
notebooks/
.ipynb_checkpoints/

# ==========================================
# Tests
# ==========================================
tests/

# ==========================================
# Data
# ==========================================
data/

# ==========================================
# Outputs
# ==========================================
outputs/

# ==========================================
# Documentation
# ==========================================
README.md
LICENSE

# ==========================================
# macOS
# ==========================================
.DS_Store

# ==========================================
# Ignore experimental models
# Keep only production model
# ==========================================
models/tuned/
models/feature_engineered/

models/rf_model.pkl
models/xgb_model.pkl
models/lgbm_model.pkl